*.iml
.gradle
.directory
/app/src/debug/
/my resources
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# exclude nrf sdk
device/modules/
device/integration/
device/external_tools/
device/external/
device/documentation/
device/config/
device/components/
